{% extends "base.html" %}

{% block title %}DMA |economize {{ title }}{% endblock %}

<!-- head -->
{% block head %}
    {{ super() }}
    <meta charset="utf-8">
    
    <link href="{{ url_for('static',filename='css/bootstrap-treeview.min.css') }}" rel="stylesheet">

<style type="text/css">    

</style>
{% endblock %}

{% block content %}

    {{ super() }}
    
    <div class="container" >
    
    
        
        
        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
          
           <div id="treeview1" class=""></div>
          
        </aside><!-- /.blog-sidebar -->
        
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tophead">
                        <h2>汇总资料</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">资料</th>
                  <th scope="col">数据</th>
                  <th scope="col">备注</th>
                  
                </tr>
              </thead>
              <tbody>
              {% for summary in summary_content %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ summary_content[summary].get('name').decode('utf-8') }}</td>
                  <td>{{ summary_content[summary].get('value') }}</td>
                  <td>{{ summary_content[summary].get('note').decode('utf-8') }}</td>
                </tr>
                
              {% endfor %}
                
              </tbody>
            </table>
            
        </div>    
        
        
            
        </div>
        

    </div>
    <script src="{{ url_for('static',filename='assets/jquery-2.2.4.min.js') }} "></script>
    <script src="{{ url_for('static',filename='assets/bootstrap-treeview.min.js') }} "></script>
    
    <script type="text/javascript">
    
    
        
        $('#treeview1').treeview({
            enableLinks: true,
            data: {{ json_data|tojson|safe }}
        });
        
    
    
    </script>
    
{% endblock %}