{% extends "base.html" %}

{% block title %}DMA | Gis {% endblock %}

<!-- head -->
{% block head %}
    {{ super() }}
    
    <link href="{{ url_for('static',filename='assets/ol3/ol.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/sample.css') }}" rel="stylesheet">
{% endblock %}

  {% block content %}
    <div id="map" class="map"></div>
    <div id="myposition"></div>
    
    <script src="{{ url_for('static',filename='assets/ol3/ol.js') }} "></script>
    <script src="{{ url_for('static',filename='assets/jquery-2.2.4.min.js') }} "></script>
    <script src="{{ url_for('static',filename='assets/test.js') }} "></script>
    <script src="{{ url_for('static',filename='assets/ext-all.js') }} "></script>
      
    
    
    {% endblock %}
